html,
body {
  height: 100%;
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  
  /* display: inline-block; */
}

*:focus,
*:focus-visible,
*:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
ol,
li {
  list-style: none;
}

dl {
  margin: 0;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
  font-weight: inherit;
  font-size: inherit;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}